[submodule "gFTL"]
	path = gFTL
	url = https://github.com/LiamBindle/gFTL.git
[submodule "gFTL-shared"]
	path = gFTL-shared
	url = https://github.com/LiamBindle/gFTL-shared.git
[submodule "pFUnit"]
	path = pFUnit
	url = https://github.com/LiamBindle/pFUnit.git
[submodule "fArgParse"]
	path = fArgParse
	url = https://github.com/LiamBindle/fArgParse.git
[submodule "yaFyaml"]
	path = yaFyaml
	url = https://github.com/LiamBindle/yaFyaml.git
[submodule "pFlogger"]
	path = pFlogger
	url = https://github.com/LiamBindle/pFlogger.git
